.page {
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  height: 100%;
  background-image: linear-gradient(90deg, #6441a5, #2a0845);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
}

@media only screen and (max-width: 425px) {
  .page {
    padding: 0 10px;
  }
}
